html,body {
    margin: 0;
    padding: 0;
}
.sidebar {
    background-color: #0c0386;
    grid-column: 1/2;
    grid-row: 1/4;
    vertical-align: middle;  

}

ul, ol {
    list-style-type: none;
    

}
.header {
    background-color: #faf3f3fa;
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.trend-img {
    width: 30px;
    height: auto;
    
    
}

.trending > .trend {
    display: flex;
    background-color: #a8a29e;
    padding: 30px;
    
}
.trending  {
    grid-column: 3/4;
    grid-row: 3/6; 
    font-size: 12px;
    word-wrap: break-word;
    margin-right: 12px;
}
.trending > .trend > img {
    vertical-align: middle;
    margin-right: 12px;
}


.announcements {
    
    grid-row: 1/3;
    grid-column: 3/4;
    display: grid;
    gap: 8px;
}
.announcements > .ann-header {
    font-weight: bold;
}

.right {
    font-size: 11px;
    padding: 10px;
    background-color: #ffe4e6;
    margin-top: 7px;
    margin-right: 12px;
}

.my-projects {
    grid-column: 1/3;
    grid-row: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 10px;
    margin-left: 20px;
}
#project-header {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
}
.landing-page {
    grid-column: 1/2;
    grid-row: 1/2;
}
.odin-recipes {
    grid-column: 2/3;
    grid-row: 1/2;
}
.etch-a-sketch {
    grid-column: 1/2;
    grid-row: 2/3;
}
.rock-paper-scissors {
    grid-column: 2/3;
    grid-row: 2/3;
}
.sign-up-form {
    grid-column: 2/3;
    grid-row: 3/4;
}
.calculator {
    grid-column: 1/2;
    grid-row: 3/4;
}

main {
    grid-column: 2/4;
    grid-row: 2/4; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    background-color: #c0bfd1;
}

.header > div > [src$='.jpg'] {
    width: 40px;
}

.all-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 400px 400px
}
li > img {
    width: 30px;
    height: auto;
    vertical-align: middle;
    
}

li {
    color: white;
}
.fa-solid {
    color: white;
    height: auto;
    vertical-align: middle;
    font-size: 15px;
    padding: 10px;
}
ol {
    margin-top: 30px;
}
.sidebar > div, .fa-bars {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}
.header > .first {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    gap: 5px;
    height: 30px;
    padding: 20px;
}
.header > .second {
    grid-row: 1/2;
    grid-column: 2/5;
    display: flex;
    height: 30px;
    padding: 20px;
    margin-left: 50px;
    gap: 30px;
}

.second > div {
    margin-top: 8px;
    
}

.second > img {
    border-radius: 50%;

}
#search {
    flex-grow: 1;
    border-radius: 10px;
    background-color: rgba(216, 209, 209, 0.637);
    border: none;
}
.header > .third {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    padding: 20px;

}
.third > div {
    grid-column: 2/7;
}

.fourth {
    grid-column: 2/5;
    display: flex;
    gap: 20px;
    padding: 10px;
    
}
button {
    padding: 5px;
    width: 6rem;
    height: 2rem;
    border-radius: 20%;
}
.main {
    padding: 10px;
    background-color: white;
    margin: 20px;
    margin-top: 30px;
}
em {
    margin-top: 20px;
}
    
