@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html,body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.sidebar {
    background-color: #0c0386;
    grid-column: 1/2;
    grid-row: 1/5;
    vertical-align: middle;  

}

ul, ol {
    list-style-type: none;
    

}
.header {
    background-color: #faf3f3fa;
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.trend-img {
    width: 30px;
    height: auto;
    
    
}

.trending > .trend {
    display: flex;
    background-color: #a8a29e;
    padding: 30px;
    font-family: 'Lobster','Times New Roman', Times, serif;
    
}
.trending  {
    grid-column: 3/4;
    grid-row: 3/6; 
    font-size: 12px;
    word-wrap: break-word;
    margin-right: 12px;
    margin-top: 40px;
}
.trending > .trend > img {
    vertical-align: middle;
    margin-right: 12px;
    border-radius: 5%;
}
.trending > p {
    font-size: 16px;
    margin-bottom: 15px;
    font-style: italic;
    
}


.announcements {
    grid-row: 1/3;
    grid-column: 3/4;
    display: grid;
    gap: 8px;
}
.announcements > .ann-header {
    font-weight: bold;
    border-radius: 5%;

}

.right {
    font-size: 11px;
    padding: 10px;
    background-color: #ffe4e6;
    margin-top: 7px;
    margin-right: 12px;
    border-radius: 5%;
    font-family: 'Pacifico','Times New Roman', Times, serif;
}

.my-projects {
    grid-column: 1/3;
    grid-row: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 10px;

    margin-left: 20px;
}
#project-header {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
}
.footer-icons {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 15px;
    padding-top: 15px;
}
.landing-page {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 20px;
}
.odin-recipes {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;
    margin-bottom: 20px;
}
.etch-a-sketch {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 20px;
}
.rock-paper-scissors {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 20px;
}
.sign-up-form {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 20px;
}
.calculator {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 20px;
}

main {
    grid-column: 2/4;
    grid-row: 2/5; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: #c0bfd1;
}

.header > div > [src$='.jpg'] {
    width: 40px;
}

.all-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 400px 400px 200px
}
li > img {
    width: 30px;
    height: auto;
    vertical-align: middle;
    
}

li {
    color: white;
}
.fa-solid {
    color: white;
    height: auto;
    vertical-align: middle;
    font-size: 15px;
    padding: 10px;
}
ol {
    margin-top: 30px;
}
.sidebar > div, .fa-bars {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}
.header > .first {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    gap: 5px;
    height: 30px;
    padding: 20px;
}
.header > .second {
    grid-row: 1/2;
    grid-column: 2/5;
    display: flex;
    height: 30px;
    padding: 20px;
    margin-left: 50px;
    gap: 30px;
}

.second > div {
    margin-top: 8px;
    
}

.second > img {
    border-radius: 50%;

}
#search {
    flex-grow: 1;
    border-radius: 10px;
    background-color: rgba(216, 209, 209, 0.637);
    border: none;
}
.header > .third {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    padding: 20px;

}
.third > div {
    grid-column: 2/7;
}

.fourth {
    grid-column: 2/5;
    display: flex;
    gap: 20px;
    padding: 10px;
    
}
button {
    padding: 5px;
    width: 6rem;
    height: 2rem;
    border-radius: 20%;
    background-color: gray;
    color: white;
}
.main {
    background-color: white;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: justify;
    font-size: 14px;
    height: 190px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10%;
    border-left: solid 5px yellow;
    font-family: 'Fjalla One','Times New Roman', Times, serif;;
}

.announcements > em {
    margin-top: 20px;
}
    
