.sidebar {
    background-color: #fda4af;
    grid-column: 1/2;
    grid-row: 1/4;
}

ul, ol {
    list-style-type: none;

}
.header {
    background-color: #a7f3d0;
    grid-column: 2/4;
    grid-row: 1/2;
}

.trend-img {
    width: 30px;
    height: auto;
    margin-left: 8px;
    
}

.trending, .trend-img {
    background-color: #a8a29e;
}

.announcements {
    background-color: #ffe4e6;
}

.my-projects {
    background-color: #64748b;
   
}

.my-projects {
    grid-column: 2/3;
    grid-row: 2/4; 
}

.header > [src$='.jpg'] {
    width: 40px;
}

.all-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 400px 400px
}